.logo-img {
  display: block;
  margin: 10px auto 0 auto;
  height: 60px;
}

.typed-heading {
  margin-top: 0;
  margin-bottom: 20px;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}
